

* {
    margin: 0;
    padding: 0;
}


.header-top{
    background-color: #103d82;
    width: 100%;
    height: 90px;
}


.menu{
    height: 72px;
    width: 100vw;
    border-bottom: #103d82 solid 2px;
}

.menu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu ul li{
    width: 10%;
    list-style: none;
}

.menu ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    font-size: 1em;
    padding: 1.5em 1em;
}


/***** Logo *******/

.logo {
    width: 150px;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
    z-index: 1000;
}

.logo.shrink {
    width: 100px;
}
